<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="52133LFA-Interactive.Matchi"
    Publisher="CN=539FF91F-07E5-499E-AFA4-0CF674AA6511"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="9e06c314-e294-40aa-8cca-46c952e6c7ab" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Matchi</DisplayName>
    <PublisherDisplayName>Saison</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Matchi.App">
      <uap:VisualElements
        DisplayName="Matchi"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Gestionnaire de matchs d&apos;impro"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="Matchi">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#151515"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="matchi">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/plain">.matchi</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Fichier Matchi</uap:DisplayName>
            <uap:Logo>Assets/matchi_file.png</uap:Logo>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="catei">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/plain">.catei</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Fichier Catei</uap:DisplayName>
            <uap:Logo>Assets/catei_file.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>